// layout
// ----------------------------------------------------------
$vw: 750px;

// font
// ----------------------------------------------------------
$fontFamily: Meiryo, メイリオ, sans-serif;
$lineHeight: (22/16);
$fontSize: 14px;

// color
// ----------------------------------------------------------
// Background
$bgColor: #fff;

// Text
$colorText: #333;
//　Link
$colorTextLink: #00d4e7;
//Border
$colorBorder: #ebf1f5;

//MainColor
$colorMain: #4bcb92;
$colorMainActive: #ebfff6;