@charset "utf-8";
    .logo {
            display: block;
            object-fit: contain;
            height:640px;
            width: 100%;
            text-align: center;
            .party{
                margin:100px;
                height: 400px;
            }
    }

